.author-image {
    object-fit: cover;
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.logo h1 {
	font-size: large;
	font-weight: bold;
}

.max-800px {
	max-width: 800px;
	}	

.title-image {
	padding-bottom: 1.5em;
}

.has-vertical-space {
	margin-top: 2em;
	margin-bottom: 2em;
}  

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1;	
}